aws_region        = "us-east-1"
environment       = "dev"
project_name      = "mcp-server"
owner             = "devops-team"
vpc_id            = "vpc-07f7af107dca845ac"
security_group_id = "sg-0174a494e2ae5db05"
jenkins_instance_id = "i-0f42ea74f084b917b"
deployment_target = "eks"
route53_zone_id   = "ZXXXXXXXXXXXXX"
alb_subdomain     = "mcp-server"
jenkins_subdomain  = "jenkins"
